/**
 * App
**/

.app .nav {
  background: #eee;
  padding-top: 5px;
}

.nav-link.logo.disabled {
  font-weight: bold;
  color: #555;
}

.page-content {
  margin: 20px 0;
}

/**
 * Home
**/

.home-cards button {
  width: 48%;
}

.home-cards img {
  max-height: 110px;
}
