/**
 * App
**/

.app .nav {
  background: #eee;
  padding-top: 5px;
}

.nav-link.logo.disabled {
  font-weight: bold;
  color: #555;
}

.page-content {
  margin: 20px 0;
}

/**
 * Main page
**/

.home-page ol {
  font-size: 28px;
}

.home-page ol div {
  font-size: 18px;
}

.home-page ol i {
  margin: 0 6px;
  color: #777;
}

.page-sub-main {
  font-size: 24px;
  font-weight: bold;
  color: #777;
  margin-top: 38px;

    margin-bottom: 12px;
}

.page-sub-main i {
  font-size: 30px;
  color: #222;
  margin-right: 15px;
  margin-left: 5px;
}

.page-sub-main .klass i {
  background-color: #333;
  color: #eee;
  padding: 5px 10px;
}

/**
 * Help page
**/

.help-page img {
  max-width: 50%
}

.help-page li {
  margin: 10px 0;
}

/**
 * Images
**/

.image-grid .col {
  margin-bottom: 10px;
}

.image-grid .thumbnail {
  max-width: 100%;
}

.image-grid .filename {
  font-size: 12px;
}

.btn-file-upload, .show-images {
  float: right;
}

.show-images {
  margin-right: 10px;
}

.progress-wrapper {
  margin-bottom: 15px;
}

/**
 * Generator
**/

.alert:empty {
  display: none;
}

form.settings {
  margin-top: 15px;
  margin-bottom: 60px;
}

.form-group {
  margin-right: 10px;
}

#fileInput, #fileUpload {
  display: none;
}

#speicesSelect {
  margin-left: 5px;
}

.progress {
  margin: 5px 0;
}

/**
 * Dynamic pages
**/

.pages {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.page {
  border: 1px solid #ccc;
  padding: 30px;
  max-width: 1000px;
  min-height: 1000px;
  margin: 20px 0;
}

.page-header {
  font-size: 2.3rem;
  text-align: center;
  border-bottom: 2px solid #999;
}

.page-sub {
  font-size: 16px;
  font-weight: bold;
  color: #777;
  margin: 18px 0px;
}

.page-sub i {
  font-size: 20px;
  color: #222;
  margin-right: 15px;
  margin-left: 5px;
}

.page-sub .klass i {
  background-color: #333;
  color: #eee;
  padding: 5px 10px;
}

.page-header span {
  font-size: 12px;
  font-weight: bold;
  background-color: #55ee55;
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
}

.page-header span:empty {
  display: none;
}

.card-body {
  padding: 5px 10px;
}

.card-img-overlay {
  text-align: center;
  margin-top: 35%;
}

.card-title {
  margin-bottom: 0;
  font-size: 16px;
  min-height: 2.5rem;
  line-height: 1.3rem;
}

.card-title i {
  margin-right: 5px;
}

.card-footer {
  background-color: #e7e7e7;
  padding: 5px 10px;
  font-size: 13px;
}

.card.dummy {
  border: none;
}

@media print {
  .generator-page {
    display: none;
  }

  .page {
    border: none;
    padding: 0;
    max-width: auto;
    min-height: auto;
    margin-top: 0;
    page-break-before: always;
  }

  .page-header span {
    background-color: chartreuse !important;
    -webkit-print-color-adjust: exact;
  }

  .page-sub .klass i {
    background-color: #333 !important;
    -webkit-print-color-adjust: exact;
  }

  .card {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .card-footer {
    background-color: #e7e7e7 !important;
    -webkit-print-color-adjust: exact;
  }

}

